*,*::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Manrope', sans-serif;
}
body {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center ;
    width: 100vw;
    height: 100vh;
    background:hsl(217, 19%, 24%)
}

.advice-box {
    width:400px;
    height:400px;
    border: 1px ;
    border-radius: 12px;
    background: hsl(217, 19%, 38%);

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.advice-box h1:first-of-type {
    color:  hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
}

.advice-box p {
    text-align: center;
    font-weight: 800;
}
.advice-box p {
    color: hsl(193, 38%, 86%)
}


.pattern-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
}
.pattern-box hr{
    position: absolute;
    display: block;
    width: 170px;
    height: 0;
    justify-self: left;
    top: 5px;
    
}

.pattern-box hr:first-of-type{
    left: 10px;
}
.pattern-box hr:last-of-type{
    left: 218px;
}

